<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FTJL.FTJL" android:versionCode="1" android:versionName="1.0" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="16" />
	<application android:allowBackup="true" android:label="FTJL" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:icon="@drawable/Icon">
		<activity android:name="icReader.icReader.MainActivity" android:label="济钢取样" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.nfc.action.TECH_DISCOVERED" />
			</intent-filter>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter" />
		</activity>
		<activity android:name="icReader.icReader.Unload" android:label="济钢取样" android:launchMode="singleTop">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.nfc.action.TECH_DISCOVERED" />
			</intent-filter>
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter" />
		</activity>
		<receiver android:name="icReader.icReader.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>